@import '../../colours.scss';

.filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	background-color: #edf0f4;
	border: 2px solid $secondary;
}

.filepond--root {
	width:100%;
	margin: 0 auto;
}

