@import '../../colours.scss';

.dash-sidebar {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: $primary;
  box-shadow: 0px 1px 8px rgba(black, 0.2);
}

.sidebar-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: $tiertiary;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  i {
    margin-right: 1em;
  }

  &:hover {
    color: $white;
    border-bottom: 2px solid $accent-primary;
  }
}

.sidebar-list {
  white-space: nowrap;
}

.current-podcast-widget {
  i {
    color: $tiertiary;
  }
}

.current-podcast-widget-logo {
  width: 30px;
  height: 30px;
  background-color: $accent-primary;
}

.current-podcast-widget-details {
  h5 {
    color: $white;
    font-weight: 400;
  }
  p {
    font-size: 0.8rem;
    color: $accent-primary;
    font-weight: bold;
  }
}

.current-user {
  a {
    color: $accent-primary;
  }
}