@import '../colours.scss';

.btn {  
  
  text-decoration: none;
  padding: 0.7em 1.9em;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

.full-width {
  width: 100%;
}
.btn.primary {
  background-color: $accent-primary;
  color: $white;
  box-shadow: 0px 2px 5px rgba(black, 0.2);
  transition: all 0.2s ease;
  border: 2px solid $accent-primary;

  &:hover {
    background-color: darken($accent-primary, 10%);
    border: 2px solid darken($accent-primary, 10%);

  }
}

.btn.hollow {
  background-color: transparent;
  border: 2px solid $accent-primary;
  color: $accent-primary;
  transition: all 0.2s ease;

  &:hover {
    background-color: $accent-primary;
    color: $white;
  }
}

.btn.small {
  font-size: 0.6rem;
  background-color: $primary;
  color: $white;
  
}