.field-group {
  display: flex;
  width:100%;
  flex-direction: column;
  margin: 1em 0;
}

.form {
  width: 100%;
  max-width: 400px;

  .subtle {
    color: $secondary;
    font-size: 0.7rem; 
    font-style: italic;
  }
}

.input {
  padding: 1em;
  border-radius: 5px;
  border: 2px solid $tiertiary;
}

.label {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: $secondary;  
  margin-bottom: 0.5em;

}

.form-bg {
  padding: 1em;
  border-radius: 5px;
  border: 2px solid $tiertiary;
  box-shadow: 0px 1px 10px rgba(black, 0.2);
  background-color:$white;
}