@import '../../colours.scss';

.current-podcast-widget {
  position: relative;

  &:hover .dropdown {
    display: flex;
    flex-direction: column;
  }
}
.dropdown {
  display: none;
  min-width: 250px;
  background-color: $white;
  position: absolute;
  top: 2.5em;
  border-radius: 3px;
  border: 1px solid $tiertiary;
  box-shadow: 0px 1px 2px rgba(black, 0.2);

  li {
    padding: .5em;
    font-size: 0.8rem;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $accent-primary;
    }
  }
}

.current-podcast-widget-active {
  background-color: $accent-primary;

  h3 {
    color: $white;
  }

  p {
    color: $primary;
  }
}