@import '../../../colours.scss';

.podcast-header {
  width: 100%;
  padding: 1em 1.5em;
  border-radius: 5px;
  border: 1px soli $tiertiary;
  box-shadow: 0px 1px 5px rgba(black, 0.3);
  background-color: $white;

}