@import './styles/atomic/main.scss';
@import './colours.scss';
@import './styles/btns.scss';
@import './styles//forms.scss';

ul {
  list-style: none;
  padding: 0;
}

.link {
  color: $link;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primary;
}

.super-title {
  color: $secondary;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 10px;

  &::after {
    content: "";
    display: block;
    width: 20%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: $secondary;
    height: 6px;
  }
}

.secondary-title {
  color: $secondary;
  font-size: 1.4rem;
}

.primary-title {
  font-size: 2rem;
  color: $primary;
  font-weight: 900;
}

.font-primary {
  color: $primary;
}

.font-secondary {
  color: $secondary;
}

.font-tiertiary {
  color: $tiertiary;
}

.hidden {
  display: none;
}

.subtle {
  font-size: 1rem;
  color: $secondary;
}

.subtle-alt {
  font-size: 1rem;
  color: $accent-primary;
}